@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles can be added here */

/* Custom styles for SunEditor image alignment to work with Tailwind Prose */
.prose figure.se-figure-center {
  margin-left: auto !important;
  margin-right: auto !important;
}
.prose figure.se-figure-right {
  margin-left: auto !important;
  margin-right: 0 !important;
}
.prose figure.se-figure-left {
  margin-left: 0 !important;
  margin-right: auto !important;
}
.prose figure {
    display: block !important;
}
