@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles can be added here */

/* --- Force Center All Images in Articles --- */
.prose figure img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
